<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
   <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<div class="col-xs-3" :class => 'logo' do>
		<%= link_to root_path do%>
		<div class="circle">
			<br />
			You know
			<br />
			you need
			<br />
			to code
		</div>
		<%end%>
	
</div>
<div class="col-xs-4 slogan">
Splurting out unsolicited advice about entrepreneurship since 2014
</div>	
<div class="col-xs-5 links">
<%= link_to 'Contribute','new_quote_path' %>
<%= link_to 'About', '#' %>
	</div>
</header>
<br />
<br class="clear" />
<div class="container">
<%= yield %>
</div>
<div class="footer">
    <div class="container">
    	    <div class="col-xs-6"> 
    	    	<%= link_to "This isn't enough, I need more", root_path, :class => 'next-quote' %>
      </div>
      <div class="col-xs-6 footer-blurb">
        Proudly hacked in theFirehose Dashboard, by <a href="http://thefirehoseproject.com">Zuriel &amp; Co.</a><br />
        Want to build your own Splurty Web App - <a href="http://thefirehoseproject.com">Learn how to code here</a>
      </div>
    </div>
  </div>
</body>
</html>
